@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);

body { 
  height: 100%;
  background-color:#37474f;
  color: whitesmoke; 
  font-size: 16px; 
  font-family: 'Lato';
} 
h1 { font-size: 32px; text-align:center;  }
h2 { font-size: 26px; }
h3 { font-size: 18px; }
p { margin: 0 0 15px; line-height: 24px; color: gainsboro; }
a { color: whitesmoke; text-decoration: none; border-bottom: 1px dotted; }
a:hover { color: tomato; }

.container { 
  max-width: 960px; 
  height: 100%;
  margin: 0 auto; 
  padding: 20px;
}


.tabs {
  position: relative;
  display: flex;
  min-height: 800px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  background-color: #455a64;
}

.od-tab {
  flex: 1;
}

.od-tab label {
  display: block;
  box-sizing: border-box;
  font-size: 22px;
  text-shadow: 2px;
  /* tab content must clear this */
    height: 40px;
  
  padding: 10px;
  text-align: center;
  background: #455a64;
  cursor: pointer;
  transition: background 0.5s ease;
  
  
}

.od-tab label:hover {
  background: #7B52AB;
}

.od-content {
  position: absolute;
  
  left: 0; bottom: 0; right: 0;
  /* clear the tab labels */
    top: 40px; 
  
  padding: 20px;
  border-radius: 0 0 8px 8px;
  background: #553285;
  
  transition: 
    opacity 0.8s ease,
    transform 0.8s ease   ;
  
  /* show/hide */
    opacity: 0;
    transform: scale(0.1);
    transform-origin: top left;
  
}




/* MAKE IT WORK ----- */

.od-tab [type=radio] { display: none; }
[type=radio]:checked ~ label {
  background: #455a64;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .od-content {
  z-index: 1;
  
  /* show/hide */
    opacity: 1;
    transform: scale(1);
}

/* BREAKPOINTS ----- */
@media screen and (max-width: 767px) {
  .tabs { min-height: 400px;}
}

@media screen and (max-width: 480px) {
  .tabs { min-height: 580px; }
  .od-tab label { 
    height: 60px;
  }
  .od-content { top: 60px; }
  .od-content img {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

	ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #333;
}

		li {
	float: left;
    border-right: 3px solid #455a64;
    border-left: 3px solid #455a64;
    margin-left: 2px;
    margin-right: 2px;
	text-color: white;
}
     
 .navbar {
  overflow: hidden;
  background-color: #455a64;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: solid 0.5px;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #455a64;
  font-family: inherit;
  margin: 0;
  width: 10em;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: yellow;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: black;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
    border-right: 3px solid #455a64;
    border-left: 3px solid #455a64;
    margin-left: 2px;
    margin-right: 2px;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
	 